In [13]:
!pip install matplotlib
!pip install mplleaflet

Requirement already satisfied: matplotlib in c:\users\mirza\anaconda3\lib\site-packages (3.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\mirza\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\mirza\anaconda3\lib\site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\mirza\anaconda3\lib\site-packages (from matplotlib) (2.4.2)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\mirza\anaconda3\lib\site-packages (from matplotlib) (2.8.0)
Requirement already satisfied: numpy>=1.11 in c:\users\mirza\anaconda3\lib\site-packages (from matplotlib) (1.16.5)
Requirement already satisfied: six in c:\users\mirza\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.12.0)
Requirement already satisfied: setuptools in c:\users\mirza\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib) (41.4.0)
Collecting mplleaflet
  Downloading https://files.pythonhosted.org/packages/05/b3/e68ff575ef0872e096878c75f602e76b06ca44d7038d69d867c7b800745b/mplleaflet-0.0.5.tar.gz
Requirement already satisfied: jinja2 in c:\users\mirza\anaconda3\lib\site-packages (from mplleaflet) (2.10.3)
Requirement already satisfied: six in c:\users\mirza\anaconda3\lib\site-packages (from mplleaflet) (1.12.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\mirza\anaconda3\lib\site-packages (from jinja2->mplleaflet) (1.1.1)
Building wheels for collected packages: mplleaflet
  Building wheel for mplleaflet (setup.py): started
  Building wheel for mplleaflet (setup.py): finished with status 'done'
  Created wheel for mplleaflet: filename=mplleaflet-0.0.5-cp37-none-any.whl size=28561 sha256=e02fcd75b5b512e21775a0abe44a3819336b7ca0b2c89ea2403874af4ff8c903
  Stored in directory: C:\Users\Mirza\AppData\Local\pip\Cache\wheels\bf\fd\0b\0513de62c339c4a56e2234aa42a5d06e6660a4446fdae7b796
Successfully built mplleaflet
Installing collected packages: mplleaflet
Successfully installed mplleaflet-0.0.5

In [7]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in c:\users\mirza\anaconda3\lib\site-packages (1.16.5)
Requirement already satisfied: pandas in c:\users\mirza\appdata\roaming\python\python37\site-packages (1.0.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\mirza\anaconda3\lib\site-packages (from pandas) (1.16.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\mirza\appdata\roaming\python\python37\site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\mirza\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in c:\users\mirza\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [37]:
import matplotlib.pyplot as plt
import mplleaflet
import numpy as np
import pandas as pd

In [38]:
df = pd.read_csv('coordinates.csv', delimiter = ',')
cat1 = ['School']
cat2 = ['LRT']
cat3 = ['Bus']

In [39]:
School = df.loc[df['Category'] == 'School']
LRT = df.loc[df['Category'] == 'LRT']
Bus = df.loc[df['Category'] == 'Bus']

In [40]:
School[['Latitude', 'Longitude']]
LRT[['Latitude', 'Longitude']]
Bus[['Latitude',  'Longitude']]

    Latitude   Longitude
16  1.420345  103.910184
17  1.416289  103.908613
18  1.416289  103.908613
19  1.417190  103.904631
20  1.417190  103.904631
..       ...         ...
91  1.408195  103.904885
92  1.420625  103.908531
93  1.408681  103.900615
94  1.408681  103.900615
95  1.410912  103.900182

[80 rows x 2 columns]

In [30]:
article_read[['Latitude','Longitude']]

    Latitude   Longitude
0   1.414418  103.910879
1   1.409755  103.902710
2   1.412789  103.904391
3   1.415883  103.908028
4   1.415690  103.908092
..       ...         ...
91  1.408195  103.904885
92  1.420625  103.908531
93  1.408681  103.900615
94  1.408681  103.900615
95  1.410912  103.900182

[96 rows x 2 columns]

In [41]:
longS = School['Longitude']
latS =  School['Latitude']
longL = LRT['Longitude']
latL =  LRT['Latitude']
longB = Bus['Longitude']
latB =   Bus['Latitude']

In [49]:
def main():
    plt.scatter(longS, latS, marker="*", color="red")
    plt.scatter(longL, latL, marker="*", color="blue")
    plt.scatter(longB, latB, marker="*", color="black")
    mplleaflet.show()

In [50]:
if __name__ == "__main__":
    main()